@charset "utf-8";
 
body { background-color: #2A2A2A; color:#CCCCCC; }

a:link , a:visited , a:active , a:hover  { color: #AAA; text-decoration: underline; }

#career-cnt { margin: 0px auto; width:90%; }
#career-cnt .title {  height: 30px; width:100%; margin-bottom:20px; font-size: 14px; line-height: 30px; font-weight: bold;}
#career-cnt table { width:100%; border-spacing:0px; border-collapse:collapse; margin-bottom:50px;}
#career-cnt table:after {  clear:both; }
#career-cnt table th { width:25%;  padding:1px; border: 1px solid #555;  text-align: center; height:40px;}
#career-cnt table td { width:25%;  padding:10px; border: 1px solid #333; text-indent: 10px;}